@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.element{
  height: 70px;
  width: 70px;
  border-radius: 5px;
 
  margin: 2px;
  font-family: "sans-serif";
  color: white;
}

.transition{
  border: 2px solid rgb(174, 36, 36);
}

.alkali{
  border: 2px solid blue;
}

.alkaline{
  border: 2px solid rgb(35, 91, 165);
}

.noble{
  border: 2px solid lightblue;
}

.metalloid{
  border: 2px solid rgba(62, 155, 15, 0.876);
}

.nonmetal{
border: 2px solid fuchsia;
}

.lanthanoid{
  border: 2px solid darkseagreen;
}

.actinoid{
  border: 2px solid yellow;
}

.metal{
  border: 2px solid rgb(119, 50, 175);
}

.halogen{
  border: 2px solid orange;
}

.post-transition{
  border: 2px solid cadetblue;
}

.logo{
  width: fit-content;
  margin: 20px 30px;
  padding: 7px 20px;
  border: 2px solid red;
  border-radius: 14px;
}